<button [cdkMenuTriggerFor]="menu" mode="secondary" appButton icon>
  <app-icon name="Languages" size="22" strokeWidth="2" />
</button>

<ng-template #menu>
  <div class="overlay-panel w-32" cdkMenu>
    <button
      (click)="setLanguage('pl')"
      class="gap-6"
      mode="ghost"
      cdkMenuItem
      appButton
    >
      <img src="flags/pl.svg" alt="PL" class="size-4" />
      PL
    </button>
    <button
      (click)="setLanguage('en')"
      class="gap-6"
      mode="ghost"
      cdkMenuItem
      appButton
    >
      <img src="flags/en.svg" alt="PL" class="size-4" />
      EN
    </button>
    <button
    (click)="setLanguage('ua')"
    class="gap-6"
    mode="ghost"
    cdkMenuItem
    appButton
  >
    <img src="flags/ua.svg" alt="UA" class="size-4" />
    UA
  </button>
  </div>
</ng-template>

<div class="daisy-indicator">
  <span class="daisy-badge daisy-indicator-item daisy-badge-warning px-2">99</span>
  <button
    (click)="extrasOpen.set(!extrasOpen())"
    #trigger="cdkOverlayOrigin"
    mode="secondary"
    cdkOverlayOrigin
    appButton
    icon
  >
    <app-icon name="Star" size="22" strokeWidth="2" />
  </button>
</div>

<ng-template
  (overlayOutsideClick)="extrasOpen.set(false)"
  [cdkConnectedOverlayOpen]="extrasOpen()"
  [cdkConnectedOverlayOrigin]="trigger"
  cdkConnectedOverlay
>
  <div class="overlay-panel w-96">Vlss</div>
</ng-template>
