<a
  class="flex w-min max-w-80 gap-4 rounded-xl border border-dashed border-slate-300 bg-slate-100 text-sm hover:bg-lightest"
  [href]="data().payload.url"
  target="_blank"
>
  <div class="flex items-center rounded-l-xl bg-slate-300 p-3">
    <app-icon name="Link" size="18" class="text-white" />
  </div>
  <div class="w-full truncate py-2 pl-1 pr-4 font-semibold text-primary">
    <span class="underline">
      {{ data().payload.title }}
    </span>

    <p class="mt-1 text-xs font-light text-slate-500">
      {{ data().payload.description }}
    </p>
  </div>
</a>
