<div class="flex justify-between gap-8">
  @for (action of actions$ | async; track $index) {
    <button
      class="rounded-lg border border-slate-200 px-6 py-4 text-sm hover:bg-slate-100"
    >
      {{ action }}
    </button>
  }
</div>

<section
  class="flex h-full flex-col items-center justify-center gap-12 text-center"
>
  <h1 class="text-4xl font-semibold lg:text-6xl">
    {{ 'WELCOME_TITLE' | transloco }}
  </h1>
  <p class="max-w-[800px]">{{ 'WELCOME_DESCRIPTION' | transloco }}</p>

  <div class="flex w-full gap-4 lg:w-2/3">
    <input
      [placeholder]="'INPUT_PLACEHOLDER' | transloco"
      [formControl]="inputControl"
      mode="primary"
      class="w-full"
      appInput
    />
    <button appButton mode="secondary" [disabled]="inputControl.invalid" (click)="onSubmit()">
      {{ 'SEND' | transloco }}
    </button>
  </div>
</section>
