<div class="flex justify-between gap-4">
  @for (action of actions$ | async; track $index) {
    <button
      class="rounded-lg border border-slate-200 px-6 py-4 text-sm hover:bg-slate-100"
      (click)="onAction(action)"
    >
      {{ action }}
    </button>
  }
</div>

<section class="flex h-full flex-col justify-center">
  <h2 class="text-5xl font-normal text-secondary">
    {{ 'WELCOME_TITLE' | transloco }}
  </h2>

  <h1 class="mt-4 max-w-[500px] text-5xl font-bold text-primary">
    {{ 'WELCOME_DESCRIPTION' | transloco }}
  </h1>

  <p class="mt-6 text-xl text-secondary">{{ 'WELCOME_BOTTOM' | transloco }}</p>
</section>

<app-chat-input (submitted)="onSubmit($event)" />
