<div class="absolute top-[5.5rem] hidden w-full gap-4 lg:flex">
  @for (action of actions$ | async; track $index) {
    <button
      class="w-32 rounded-lg bg-lighter p-3 text-xs text-primary shadow-lg hover:bg-lightest"
      (click)="onAction(action)"
    >
      {{ action }}
    </button>
  }
</div>

<section class="flex h-full flex-col justify-center">
  <h2 class="text-5xl font-normal text-secondary">
    {{ 'WELCOME_TITLE' | transloco }}
  </h2>

  <h1
    class="mt-4 max-w-[500px] text-5xl font-bold leading-[3.75rem] text-primary"
  >
    {{ 'WELCOME_DESCRIPTION' | transloco }}
  </h1>

  <p class="mt-6 text-xl text-tertiary">{{ 'WELCOME_BOTTOM' | transloco }}</p>
</section>

<app-chat-input (submitted)="onSubmit($event)" />
