<h2>Mode</h2>

<div class="grid grid-cols-6 gap-4 p-4">
  <button appButton>Sample</button>
  <button appButton mode="secondary">Sample</button>
  <button appButton mode="accent">Sample</button>
  <button appButton mode="ghost">Sample</button>
  <button appButton mode="link">Sample</button>
</div>

<h2>Input</h2>

<div class="grid grid-cols-6 gap-4 p-4">
  <input appInput placeholder="Sample" />
  <input appInput placeholder="Sample" mode="primary" />
  <input appInput placeholder="Sample" mode="secondary" />

  <label appInput>
    <app-icon name="AlarmClock" class="text-gray-500" />
    <input />
  </label>
</div>
