<div class="h-full overflow-auto">
  @for (message of conversation$ | async; track $index) {
    @if (message.type === 'user') {
      <app-chat-bubble
        imgSrc="avatars/user.png"
        mode="secondary"
        position="end"
      >
        <span>{{ message.data.data }}</span>
      </app-chat-bubble>
    } @else if (message.type === 'chat') {
      <app-chat-bubble
        imgSrc="avatars/agent.png"
        userName="PoRadek"
        mode="accent"
      >
        <span
          [text]="message.data.response.agent_1"
          class="whitespace-pre-wrap"
          appTypewrite
        ></span>
      </app-chat-bubble>
    } @else if (message.type === 'reminder') {
      <app-reminder-box (confirmed)="viewBlocked.set(false)" />
    }
  }

  @if (loading$ | async) {
    <app-loading class="mx-auto mt-4 block" />
  }
</div>

<app-chat-input
  [disabled]="!!(loading$ | async) || viewBlocked()"
  (submitted)="onSubmit($event)"
  class="mt-6 block"
/>
