<div class="h-full overflow-auto">
  @for (message of conversation$ | async; track $index) {
    @if (message.type === 'user') {
      <app-chat-bubble
        imgSrc="avatars/user.png"
        mode="secondary"
        position="end"
      >
        <span appTypewrite [text]="message.data.data"></span>
      </app-chat-bubble>
    } @else {
      <app-chat-bubble
        imgSrc="avatars/agent.png"
        userName="MaxTax"
        mode="accent"
      >
        <span
          appTypewrite
          [text]="message.data.response.agent_1"
          class="whitespace-pre-wrap"
        ></span>
      </app-chat-bubble>
    }
  }

  @if (loading$ | async) {
    <app-loading class="mx-auto block" />
  }
</div>

<app-chat-input
  [disabled]="!!(loading$ | async)"
  (submitted)="onSubmit($event)"
  class="mt-6 block"
/>
